body{
    background-color:#5c6bc0;
}

header
{
    background-image : url(../images/background_bee.jpg);
    background-size : cover;
    color: white;
    padding-bottom: 4vw;
    padding-top: 4vw;
}

h1{
    font-size: 8vw;
}

h2{
    font-size: 2.5vw;
}

.elements
{
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

h3{
    background-image : url(../images/background_bee.jpg);
    background-size : cover;
    width : 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vw;
    font-size: 5vw;
    color: white;
    font-family: string;
    box-shadow: 3px, 3px;
}

main
{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: blue;
}

p.cod{
    background-color: #212123 !important;
    padding: 50px;
    color: #d5d5d5;
    border: 10px black ridge;
}

p.txt{
    width: 80vw;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 20px;
}

#returnTop
{
    margin-top: 20px;
    max-width: 150px;
}


pre{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-image : url(../images/background_bee.jpg) !important;
    background-size : cover;
    color: #d5d5d5;
    border-radius: 3px;
}

.codeClick
{
    margin-top: 5vw;
}

code{
    padding: 10px !important;
    border-radius: 3px;
    border: 2px teal groove;
}

#Menu
{
    padding-top: 40px;
    padding-bottom: 40px;
}
